*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
nav{
    background-color: #000769;
    height: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
}
.logo{
    display: flex;
    border: none;
    /* border: 2px solid yellow; */
    width: 19rem;
    height: 4rem;
    justify-content: start;
    align-items: center;
}
.clr{
    font-size: 4vh;
    letter-spacing: .5vh;
    word-spacing: .5vh;
    color: white;
}
.fa-otter{
    color: white;
    font-size: 7vh;
    margin-right: 1vh;
}
.nav-right{
    /* border: 2px solid yellow; */
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 55rem;
    height: 4rem;
    gap: 6vh;
}
.fa-circle-user{
    font-size: 3rex;
    margin-right: .5vh;
}
.fa-cart-plus{
    font-size: 3rex;
}
.nav-right a{
    text-decoration: underline;
    letter-spacing: .2vh;
    font-size: 2.5rex;
    color: white;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#main-img-section{
    margin: 5rem 6rem;
    /* border: 2px solid rgb(62, 62, 7); */
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65rem;
    text-align: center;
    position: relative;
    background:url(./asset/main-img.jpg) center/cover no-repeat;
}

#main-img-section h1, h3{
    z-index: 3;
    color: white;
}


#main-img-section h1{
    font-size: 10rex;
    margin-bottom: 2rem;
}

#main-img-section h3{
    font-weight: 200;
    font-size: 5rex;
    margin-bottom: 5rem;
}

#sec1-btn{
    font-size: 3vh;
    padding: 2rex 5rex;
    text-align: center;
    background-color: #FC9823;
    color: #000769;
    font-weight: bold;
    letter-spacing: .1vh;
    word-spacing: .4vh;
    border: none;
    border-radius: 2rex;
    cursor: pointer;
}
/* .main-img{
    background-image: url(./asset/main-img.jpg);
    background-size: cover;
    position: absolute;
} */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#categories{
    margin:6rem;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:3rem;
}

.cc{
    height:35rem;
    position:relative;

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;
    overflow:hidden;
}

.cc::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.35);
}

.cc h2{
    position:relative;
    color:white;
    font-size:4rex;
    letter-spacing:.3vh;
    text-align:center;
}

.card1{ background-image:url(./asset/1.webp); }
.card2{ background-image:url(./asset/2.webp); }
.card3{ background-image:url(./asset/3.webp); }

.cc:hover{
    transform:scale(1.03);
    transition:.3s ease;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#about{
    background:#efefef;
    padding:8rem 2rem;

    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

#about h1{
    color:#f28c1b;
    font-size:10rex;
    letter-spacing:.6vh;
    margin-bottom:3rem;
}

#about h3{
    color:#001a6b;
    font-weight:500;
    margin-bottom:3rem;
    font-size: 4rex;
}

#about p{
    font-size: 3vh;
    max-width:70rem;
    line-height:2;
    color:#001a6b;
    margin-bottom:4rem;
}

.about-btn{
    background:#f28c1b;
    color:#001a6b;
    border:none;

    padding:1rem 3rem;
    font-size:2.8rex;
    cursor:pointer;

    transition:.3s;
}

.about-btn:hover{
    transform:translateY(-3px);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#footer{
    background:#0b0f6b;
    color:white;
}

.footer-top{
    padding:5rem 6rem;

    display:grid;
    grid-template-columns: repeat(3,1fr);
    text-align:center;
}

.foot-col h4{
    font-size: 3vh;
    margin-bottom:2rem;
    font-weight:500;
}

.foot-col p{
    margin:.6rem 0;
    font-size:2.4rex;
}

.socials{
    display:flex;
    justify-content:center;
    gap:2rem;
    font-size:3rex;
    cursor:pointer;
}

.socials i:hover{
    transform:scale(1.2);
    transition:.2s;
}

.footer-bottom{
    background:#dcdcdc;
    color:#001a6b;

    text-align:center;
    padding:1.5rem;
    font-size:2.4rex;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


@media (min-width:480px){

    nav{
        padding-left:1.5rem;
        padding-right:1.5rem;
    }

    .nav-right{
        gap:2vh;
        width:auto;
        flex-wrap:wrap;
    }

    #main-img-section{
        margin:2rem;
        height:40rem;
    }

    #categories{
        margin:2rem;
        grid-template-columns:1fr;
    }

    .cc{
        height:25rem;
    }

    .footer-top{
        grid-template-columns:1fr;
        gap:3rem;
        padding:3rem 2rem;
    }
}

@media (min-width:768px){

    #main-img-section{
        height:50rem;
        margin:3rem;
    }

    #categories{
        grid-template-columns:repeat(2,1fr);
        gap:2rem;
    }

    .cc{
        height:28rem;
    }

    #about p{
        max-width:45rem;
    }
}

@media (min-width:820px){

    nav{
        padding-left:2.5rem;
        padding-right:2.5rem;
    }

    .nav-right{
        gap:4vh;
    }

    #categories{
        grid-template-columns:repeat(3,1fr);
        margin:4rem;
    }

    .cc{
        height:32rem;
    }

    .footer-top{
        grid-template-columns:repeat(3,1fr);
        padding:4rem;
    }
}

@media (min-width:1280px){

    #main-img-section{
        margin:5rem 6rem;
        height:65rem;
    }

    #categories{
        margin:6rem;
        gap:3rem;
    }

    .cc{
        height:35rem;
    }

    #about p{
        max-width:70rem;
    }

    .footer-top{
        padding:5rem 6rem;
    }
}